<br>
<ion-content>
  <div class="student-image">
    <img src="assets/images/mujer.png" alt="Foto del Estudiante">
  </div>

  <ion-text class="center">
    <!--  <h1>{{ receivedStudent }}</h1> -->
  </ion-text>

  <!-- Sección de escaneo QR -->
  <div class="qr-scan">
    <ion-text>
      <h2>Escanea el código QR</h2>
    </ion-text>
    <div class="qr-camera">
      <!-- Aquí iría el componente o funcionalidad para abrir la cámara -->
      <ion-icon name="camera-outline"></ion-icon>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-segment value="default">
      <ion-segment-button value="inicio">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-segment-button>
      <ion-segment-button value="mensajes">
        <ion-icon name="chatbubbles-outline"></ion-icon>
        <ion-label>Mensajes</ion-label>
      </ion-segment-button>
      <ion-segment-button value="perfil">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
