<ion-content [fullscreen]="true">
    <ion-button size="small" class="boton-salir" (click)="volver()">
      <ion-icon slot="start" name="star"></ion-icon>
      Volver
    </ion-button>

    <ion-icon name="person-circle-outline"></ion-icon>

    <ion-text class="center">
      <h1>Nombre alumno</h1>
    </ion-text>

    <ion-img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwKhCxEmS969psqhVKUpQMmozoWS5REy8w2g&s"
    alt="qr"
    ></ion-img>

    <ion-card color="primary">
      <ion-card-header>
        <ion-card-title></ion-card-title>
        <ion-card-subtitle>Escanea el codigo QR para quedar presente</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content></ion-card-content>
    </ion-card>
    
</ion-content>
